#side_menu {
	margin-top: 0px;
	padding-left: 15px;
	background-color: whitesmoke;
	border-radius: 6px;
	width: auto;
	display:inline-block;
	position: fixed;
}

#nav_home {
	position: relative;
	left: -20px;
}

.nav-tabs {
	margin-top: 65px;
}

.sticky-top {
	top: 70px;
}

#main {
	width: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

#main_content {
	margin-left: 130px;
	margin-right: 90px;
}

#home, #reviews {
	text-align: center;
	padding: 30px;
}

@media (max-width: 600px){
	#main_content {
		margin-left: 10px;
		margin-right: 10px;
		padding-top: 30px;
	}
	#main_content .row {
		padding-top: 45px;
	}
	#nutrition_main .row {
		padding-top: 0px;
	}
	#reviews {
		padding-top: 70px;
	}

	.nav.flex-column {
		flex-direction: row !important;
	}
	.sticky-top {
		top: 60px;
	}
}

@media (min-width: 1200px){
	.container {
		max-width: 2000px;
	}
}

.card-deck {
	flex: 1 0 0%;
}

.row .card, #reviews .card {
	margin: 15px;
	max-width: 280px;
	min-width: 200px;
}

.card-deck .card {
	min-width: 200px;
	margin: 15px;
}

.price {
	font-weight: 400;
}

#reviews .card-body {
	position: relative;
	top: -50px;
}

#reviews .card-title {
	font-family: cursive;
}

#reviews .lead {
	font-size: 2rem;
}