#side_menu {
	margin-top: 0px;
	padding-left: 2%;
	background-color: whitesmoke;
	width: auto;
	display:inline-block;
	position: fixed;
}

#nav_home {
	position: relative;
	left: -20px;
}

.nav-tabs {
	margin-top: 65px;
}

.sticky-top {
	top: 70px;
}

#main {
	width: auto;
	margin-top: 60px;
	margin-bottom: 60px;
}

#main_content {
	margin-left: 140px;
	margin-right: 120px
}

.card-deck {
	flex: 1 0 0%;
}

.row .card {
	margin: 15px;
	max-width: 280px;
	min-width: 200px;
}

.card-deck .card {
	min-width: 200px;
	margin: 15px;
}

.price {
	font-weight: 400;
}

#home {
	text-align: center;
	padding: 30px;
}